:root {
	--grey: #F8F1EF;
	--grey-12: #F8F1EF20;
	--grey-33: #F8F1EF55;
	--grey-50: #F8F1EF80;
	--grey-80: #F8F1EFCC;
	--dark:	#0A0D21;
	--navy: #1A2038;
	--navy-80: #1A2038CC;
	--lite: #8EA8D7;
	--lite-12: #8EA8D720;
	--lite-20: #8EA8D735;
	--lite-33: #8EA8D755;
	--gold: #F0CB76;
	--gold-33: #F0CB7655;
}
html {
	font-size: 10px;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--grey);
	display: flex;
	flex-direction: column;
	height: 100vh;
}
body * {
	color: var(--navy);
}
header {
	display: flex;
	align-items: center;
	padding: 0 2em;
	background-color: var(--navy);
	border-bottom: 2px solid var(--dark);
}
header h1 {
	color: var(--gold);
	text-shadow: 2px 2px 1px var(--dark);
}
header menu {
	margin-left: auto;
}
header menu li {
	display: inline;
	padding: 0.5em 1em;
	margin: 0 0.5em;
	font-family: sans-serif;
	font-weight: bold;
	color: var(--gold);
	text-shadow: 2px 2px 1px var(--dark);
	border: solid 2px var(--gold);
	border-radius: 5px;
	cursor: pointer;
}
header menu li:hover {
	color: var(--navy);
	background: var(--gold);
	text-shadow: none;
}
main {
	position: relative;
	overflow: auto;
	height: 100%;
}

dialog {
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: var(--navy-80);
	z-index: 2;
}
dialog.open {
	display: flex;
	align-items: center;
	justify-content: center;
}
dialog .dialog-container {
	background: var(--grey);
	border: 2px solid var(--gold);
	border-radius: 5px;
	padding: 2em;
	max-width: 75%;
}
dialog h2 {
	color: var(--navy);
	margin: 0 0 1.5em;
	text-shadow: 0px 1px 0px var(--lite);
}
dialog p {
	max-width: 40rem;
}
dialog details {
	margin-bottom: 1em;
}
dialog select {
	width: 100%;
}
dialog textarea {
	width: 40rem;
}
dialog select, dialog textarea, dialog input[type=file] {
	display: block;
	margin: 0.5em 0em 1em;
}
dialog input[type=submit], dialog input.ok-button {
	float: right;
}
dialog input[type=button], dialog input[type=submit] {
	margin-top: 1em;
}
dialog ul {
	padding: 0;
	margin: 0;
	max-height: 60rem;
	overflow-y: auto;
}
dialog li>ul {
	padding: 0 0 0 3em;
	margin-bottom: -0.5em;
}
dialog li {
	list-style-type: none;
	margin-bottom: 0.5em;
}
dialog li::before {
	font-size: 1.5em;
	vertical-align: middle;
	padding-bottom: 0.1em;
}
dialog li.info::before {
	content: '\24D8'; /* Info symbol */
	color: blue;
}
dialog li.success::before {
	content: '\2713'; /* Tick symbol */
	color: green;
}
dialog li.warning::before {
	content: '\26A0'; /* Warning symbol */
	color: orange;
}
dialog li.error::before {
	content: '\274C'; /* Cross symbol */
	color: red;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
}
thead {
	background: var(--gold-33);
}
th {
	padding: 0.5em;
	vertical-align: top;
}
tbody th {
	text-align: left;
	cursor: pointer;
}
th:first-child {
	width: 17%;
	min-width: 17rem;
}
th:nth-child(2) {
	width: 50%;
	min-width: 50rem;
}
th:last-child {
	width: 33%;
	min-width: 33rem;
}
td {
	border-top: 1px solid var(--gold-33);
	padding: 0.5em;
}
td.selected {
	background: var(--gold);
}
/* Thick border under tbody when both open and closed */
thead th,
tbody.closed th,
tbody th:first-child,
tbody tr:last-child td {
	border-bottom: 2px solid var(--gold-33);
}
/* Unset backgrounds and borders on last column */
tbody.closed th:last-child,
tbody tr:last-child td:last-child,
tbody th:last-child,
tbody td:last-child {
	border: none;
	border-left: 1px solid var(--gold-33);
	background: var(--grey);
	position: relative;
}
tbody tr:first-child:hover {
	background: var(--lite);
}
tbody:nth-child(odd) tr {
	background: var(--lite-33);
}
tbody:nth-child(odd) tr:nth-child(even) {
	background: var(--lite-20);
}
tbody tr:nth-child(even) {
	background: var(--lite-12);
}
tbody .expand-arrow {
	display: inline-block;
	margin-right: 0.5em;
	text-shadow: 0px 0px 1px var(--gold);
	transform: translateY(-1px);
}
tbody.closed .expand-arrow {
	transform: rotate(-90deg) translateX(1px);
}
tbody.closed tr:first-child {
	display: table-row;
}
tbody.closed tr {
	display: none;
}

aside {
	position: absolute;
	width: 100%;
	top: 0;
	left: -1px;
	z-index: 1;
	background: var(--gold);
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
aside .question {
	padding: 1em;
}
aside h2 {
	font-size: 1.8rem;
	margin: 1em 0;
	text-shadow: 0px 1px 0px var(--lite);
}
aside h3 {
	font-size: 1rem;
	font-family: sans-serif;
	text-shadow: 0px 1px 0px var(--lite-33);
}
aside a {
	margin: 0.5em 2em 0;
	padding: 0.5em 1em;
	border: solid 1px var(--grey-80);
	border-radius: 5px;
	background-image: linear-gradient(var(--grey-80), var(--grey-33));
	display: block;
	cursor: pointer;
	text-decoration: none;
}
aside a:hover {
	background-image: linear-gradient(var(--grey-33), var(--grey-12));
}
aside input, aside select {
	font-size: 1rem;
	margin-bottom: 0.5em;
}
aside a:active {
	border: dotted 1px var(--grey-80);
}
aside .question>p {
	margin: 1.5em 1em 0.5em;
}
aside #error-message {
	color: red;
	margin: 0.5em 0;
}
aside .hidden {
	display: none;
}
