:root {
	--grey: #FAF1EF;
	--dark:	#0A0D21;
	--navy: #1A2038;
	--navy-bg: #1A2038CC;
	--lite: #8EA8D7;
	--gold: #F0CB76;
}
html {
	font-size: 10px;
}
body {
	margin: 0;
	padding: 0;
	color: var(--navy);
	background-color: var(--grey);
}

header {
	display: flex;
	align-items: center;
	padding: 0 2em;
	background-color: var(--navy);
	border-bottom: 2px solid var(--lite);
	color: var(--gold);
}
header h1 {
	text-shadow: 2px 2px 1px var(--dark);
}
header menu {
	margin-left: auto;
}
header menu li {
	display: inline;
	padding: 0.5em 1em;
	margin: 0 0.5em;
	font-family: sans-serif;
	font-weight: bold;
	text-shadow: 2px 2px 1px var(--dark);
	border: solid 2px var(--gold);
	border-radius: 5px;
	cursor: pointer;
}
header menu li:hover {
	color: var(--navy);
	background: var(--gold);
	text-shadow: none;
}

dialog {
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: var(--navy-bg);
}
dialog.open {
	display: flex;
	align-items: center;
	justify-content: center;
}
dialog .dialog-container {
	background: var(--grey);
	border: 2px solid var(--gold);
	border-radius: 5px;
	padding: 2em;
	max-width: 75%;
}
dialog h2 {
	color: var(--navy);
	margin: 0 0 1.5em;
	text-shadow: 0px 1px 0px var(--lite);
}
dialog p {
	max-width: 40rem;
}
dialog details {
	margin-bottom: 1em;
}
dialog select {
	width: 100%;
}
dialog textarea {
	width: 40rem;
}
dialog select, dialog textarea, dialog input[type=file] {
	display: block;
	margin: 0.5em 0em 1em;
}
dialog input[type=submit], dialog input.ok-button {
	float: right;
}
dialog input[type=button], dialog input[type=submit] {
	margin-top: 1em;
}
dialog ul {
	padding: 0;
	margin: 0;
	max-height: 60rem;
	overflow-y: auto;
}
dialog li>ul {
	padding: 0 0 0 3em;
	margin-bottom: -0.5em;
}
dialog li {
	list-style-type: none;
	margin-bottom: 0.5em;
}
dialog li::before {
	font-size: 1.5em;
	vertical-align: middle;
	padding-bottom: 0.1em;
}
dialog li.info::before {
	content: '\24D8'; /* Info symbol */
	color: blue;
}
dialog li.success::before {
	content: '\2713'; /* Tick symbol */
	color: green;
}
dialog li.warning::before {
	content: '\26A0'; /* Warning symbol */
	color: orange;
}
dialog li.error::before {
	content: '\274C'; /* Cross symbol */
	color: red;
}

