{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Cryptoscopio</title>
		<link rel='stylesheet' href='{% static "style.css" %}'>
		<script src='{% static "base.js" %}' async></script>
	</head>
	<body>
		<header>
			<select id='upload-select' disabled>
				<option value='' class='default-option'>Upload records...</option>
				<option value='coinbase' class='coinbase'>Coinbase</option>
			</select>
			<h1>Cryptoscopio</h1>
			<form action='.' method='POST'>
				<input type='file' id='upload-input' name='upload-input' accept='.csv' multiple>
			</form>
		</header>
		<main>
			{% if records.count %}
				<table>
					<thead>
						<tr>
							<th>Platform</th>
							<th>Action</th>
							<th>Tax events</th>
						</tr>
					</thead>
					<tbody>
						{% for record in records %}
							<tr>
								<td>{{ record.platform }}</td>
								<td>{{ record }}</td>
								<td>
									{% for event in record.events.all %}
										<div class='{{ event.get_style_class }}'>
											{{ event.get_type_display }}: {{ event.currency }} {{ event.get_amount_display }} at ${{ event.price|floatformat:"2" }}
										</div>
									{% endfor %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>No records imported yet. Use the "Upload records" dropdown to import some.</p>
			{% endif %}
		</main>
	</body>
</html>
